.main{
  text-align: center;
}
.App {
  text-align: center;
  height: 100vh;
    /* height: auto; */
    text-align: center;
    background: #004d68;
    display: flex;
}

.card{
  width: 40%;
    margin: auto;
    background: #87b9b9;
    display: flex;   
    flex-direction: column;
    padding: 60px 0px;
    box-shadow: 2px 1px 4px #bdbdbd;
    border-radius: 2px;
}
.App h1{
  padding-bottom: 15px;
    margin: 0;
}

.input{
  padding: 10px;
  margin: 5px;
  box-shadow: 1px 1px 1px #9c9c9c;
  border: none;
  width: 50%;
  
}

.btn{
  padding: 7px 30px;
    margin: 3px 10px;
    background-color: black;
    color: white;
    border: none;
}

.google{
  padding: 7px 30px;
  margin: 10px 10px;
  background-color: #dd4b39;
  color: white;
  border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hide{
  display:none ;
}